<footer>
	<p><a href="https://github.com/SiegfriedEhret/beulogue/edit/master/docs/content{{contentPath}}">Edit this page</a></p>
	<p>Made with <a href="https://github.com/SiegfriedEhret/beulogue/">beulogue</a> v{{beulogue.version}}.</p>
</footer>